# Dataset files (DICOM images)
Dataset/train/labels1.csv
Dataset/train/CTs
Dataset/inference/CTs

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store
